Source: openmolar-namespace
Section: misc
Priority: extra
Maintainer: Neil Wallace <rowinggolfer@googlemail.com>
Build-Depends: python, debhelper (>= 7)
Homepage: http://www.openmolar.com

Package: openmolar-namespace
Architecture: all
Section: misc
Priority: extra
Depends: ${python:Depends}
Description: Dental Practice Management Software - library namespace
 .
 installs lib_openmolar and the corresponding __init__.py into the correct 
 location.
