Source: openmolar-client
Section: misc
Priority: extra
Maintainer: Neil Wallace <rowinggolfer@googlemail.com>
Build-Depends: python, debhelper (>= 7)
Homepage: http://www.openmolar.com
Vcs-browser: http://code.google.com/p/openmolar/

Package: openmolar-client
Architecture: all
Section: misc
Priority: extra
Depends: ${python:Depends}, openmolar-common
Description: Dental Practice Management Software - Client Application
 .
 provides the application designed to be run in dental surgeries 
 and receptionist desks.
