Source: openmolar-namespace
Maintainer: Neil Wallace <rowinggolfer@googlemail.com>
Section: misc
Priority: extra
Build-Depends: debhelper (>= 7), python-support, python (>=2.6)
Homepage: http://www.openmolar.com
Vcs-browser: http://code.google.com/p/openmolar/
Standards-Version: 3.8.4

Package: openmolar-namespace
Architecture: all
Section: misc
Priority: extra
Depends: ${python:Depends}
Description: Dental Practice Management Software - library namespace
 .
 installs lib_openmolar and the corresponding __init__.py into the correct 
 location.
