Source: openmolar-admin
Section: misc
Priority: extra
Maintainer: Neil Wallace <rowinggolfer@googlemail.com>
Build-Depends: python-all, debhelper (>= 7)
Homepage: http://www.openmolar.com

Package: openmolar-admin
Architecture: all
Section: misc
Priority: extra
Depends: ${python:Depends}, openmolar-common, python-qscintilla2
Description: Dental Practice Management Software - Admin Component
 .
 the openmolar-admin application provides functions for initialising a practice
 database, and managing many of the occasional maintenance tasks.
