Source: openmolar-common
Section: misc
Priority: extra
Maintainer: Neil Wallace <rowinggolfer@googlemail.com>
Build-Depends: python-all, debhelper (>= 7)
Homepage: http://www.openmolar.com

Package: openmolar-common
Architecture: all
Section: misc
Priority: extra
Depends: ${python:Depends}, python-qt4, python-qt4-sql, libqt4-sql-psql, openmolar-namespace
Description: Dental Practice Management Software - common library
 .
 the openmolar-common packages code required by both the admin and client 
 applications.
