/*-- stylesheet for openmolar-server html output 
written by Neil Wallace < rowinggolfer@gmail.com >

################################################################################
#                                                                              #
#  THIS FILE IS UPDATED BY THE OPENMOLAR APPLICATION.                          #
#                                                                              #
#  ANY CHANGES YOU MAKE TO THIS FILE WILL NOT BE PRESERVED.                    #
#                                                                              #
#                                                                              #
#  IF YOU WOULD LIKE TO USE A CUSTOM CSS FILE                                  #
#  PLEASE PLACE IT IN THIS FOLDER AND NAME IT                                  #
#  "custom_proxy.css"                                                          #
#                                                                              #
#  THE PRESENCE OF SUCH A FILE WILL MEAN THIS FILE IS IGNORED BY               #
#  THE NOTES BROWSER.                                                          #
#                                                                              #
#                                                                              #
################################################################################

--*/
body {
background-color:#ffffff}

div.header{
    background: url(qrc:images/header_fade.png) repeat-x;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
}


#logo{
    background: url('qrc:images/om_db.png') no-repeat;
    
}

div.loc_header {
    height:140px;
    color:#ddffff;
    text-align:center;
    font-weight:bold;
    position:relative;
    top:0px;
    left:40px;
    width:100%;
}

h3.header {
    color:white;
    padding-bottom:0px;
    }


div.footer {
    background: url(qrc:images/footer_fade.png) repeat-x;
    height:120px;
    padding-bottom:0px;
    bottom:0px;
    left:0px;
    width:100%;
    position:fixed;
}

div.footer_txt {
    color:#eeeeee;
    text-align:center;
    top:40px;
    position:relative;
}

#show_log {
    background: url(qrc:images/log.png) right no-repeat;
    color:#ddffff;
    padding-left:100px;
    padding-right:50px;
    padding-top:10px;
    padding-bottom:10px;
}

div.password{
    text-align:center;
    position:relative;
}

li {
padding-left: 30px;
}

a {color:#2f2159;}

a.management_link {
    left:60px;
    position:relative;
}
