Source: openmolar-admin
Section: misc
Priority: extra
Maintainer: Neil Wallace <rowinggolfer@googlemail.com>
Build-Depends: debhelper (>= 7), python-support, python (>=2.6)
Homepage: http://www.openmolar.com
Vcs-browser: http://code.google.com/p/openmolar/
Standards-Version: 3.8.4

Package: openmolar-admin
Architecture: all
Section: misc
Priority: extra
Depends: ${python:Depends}, openmolar-common, python-qscintilla2
Description: Dental Practice Management Software - Admin Component
 .
 provides an assortment of command line and graphical tools for 
 initialising a practice database, and managing many of the occasional 
 maintenance tasks. Usually only one install per network 
 (as opposed to openmolar-client which may have multiple installations).
